body {
  color: rgba(79, 64, 145, 0.904);
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 4px;
  background: pink;
  font-size: 16px;
  min-width: 800px;
}

#question {
  font-size: 50px;
}

.choice-container:hover {
  cursor: pointer;
  transform: scale(1.02);
  transform: transform 100ms;
}

.choice-prefix {
  padding: 2rem 2.5rem;
  color: white;
}

.choice-text {
  padding: 2rem;
  width: 100%;
}

.diplay-prefix {
  font-size: 40px;
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 16px;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  height: 10vh;
}

#progressBarFull {
  height: 100%;
  background: blue;
  width: 5%;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}
